@charset "utf-8";
/* CSS Document */
.addSearch_page{
	position: absolute;
	top:0px;
	left: 0px;
	bottom:0px;
	right:0px;
	background-color: #fff;
}
.addSearch_page #search{
	float: left;
	margin-left: 17px;
	margin-top: 55px;
}
.addSearch_page #back{
	float: left;
	margin-left: 24px;
	margin-top: 62px;
}
.addSearch_page #addSearchMain{
	position: absolute;
	top:140px;
	left: 0px;
	bottom:0px;
	right:0px;
	overflow: hidden;
}
.addSearch_page #addSearchRoll{
	width: 100%;
	position: absolute;
	top:0px;
	left: 0px;
}
.addSearch_page .group{
	margin-bottom: 29px;
}
.addSearch_page .moreButton{
	font-size: 30px;
	color: #00a5e0;
	text-align: center;
	margin-top: 29px;
}