@charset "utf-8";
/* CSS Document */
.linkmanList_page{
	position: absolute;
	top:0px;
	left: 0px;
	bottom:0px;
	right:0px;
	background-color: #f7f7f8;
}
.linkmanList_page #search{
	margin: auto;
	margin-top:16px;
}
.linkmanList_page #linkListFrame{
	position: absolute;
	top:274px;
	left: 0px;
	bottom:0px;
	right:0px;
	overflow: hidden;
}
.linkmanList_page #listFrameRoll{
	position: absolute;
	left: 0px;
	right:0px;
	top:0px;
}
.linkmanList_page #topFrame{
	width: 100%;
	height: 258px;
	background-color: #fff;
	border-bottom: 1px solid #dedfe0;
}
.linkmanList_page .linkNavPoint{
	width: 25%;
	float: left;
}
.linkmanList_page .linkNavPoint .icon{
	margin: auto;
	margin-top: 38px;
	height: 66px;
}
.linkmanList_page .linkNavPoint .name{
	text-align: center;
	margin-top: 16px;
	font-size: 26px;
	color: #000;
}
.linkmanList_page #sideHandle{
	position: absolute;
	top:0px;
	bottom: 0px;
	left: 0px;
	width: 80px;
	z-index: 90;
}