@charset "utf-8";
/* CSS Document */
.myDetail_page{
	position: absolute;
	top:0px;
	left: 0px;
	bottom:0px;
	right:0px;
	background-color: #ecedf1;
}
.myDetail_page .head_module{
	z-index: 3;
}
.myDetail_page #myDetailMain{
	position: absolute;
	top:0px;
	left: 0px;
	bottom:0px;
	right:0px;
	overflow: hidden;
}
.myDetail_page #bg{
	width: 750px;
	height: 510px;
}
.myDetail_page #bgInput{
	width: 750px;
	height: 510px;
	position: absolute;
	top:0px;
	left: 0px;
	z-index: 1;
	opacity: 0;
}
.myDetail_page #myDetailRoll{
	width: 100%;
	position: absolute;
	top:0px; 
	left: 0px;
}
.myDetail_page #play{
	position: absolute;
	top:410px;
	right: 189px;
	z-index: 2;
}
.myDetail_page #priseFrame{
	background-color: #5a5d62;
	padding: 10px 26px;
	border-radius: 100px;
	position: absolute;
	top:414px;
	right: 30px;
	z-index: 2;
}
.myDetail_page #priseFrame img{
	float: left;
}
.myDetail_page #priseFrame #priseNum{
	float: left;
	color: #fff;
	font-size: 25px;
	margin-left: 10px;
}
.myDetail_page .frame{
	padding-top: 34px;
	padding-bottom: 34px;
	width: 100%;
	border-bottom: 1px solid #dedfe0;
	background-color: #fff;
}
.myDetail_page .frame .left{
	width: 197px;
	float: left;
	text-indent: 36px;
	color: #777777;
	position: relative;
	min-height: 10px;
	font-size: 30px;
}
.myDetail_page .frame .right{
	float: left;
	position: relative;
	width: 553px;
}
.myDetail_page #base .left img{
	width: 136px;
	height: 136px;
	border-radius: 136px;
	position: absolute;
	top:-105px;
	left: 34px;
}
.myDetail_page #base .left #iconInput{
	width: 136px;
	height: 136px;
	border-radius: 136px;
	position: absolute;
	top:-105px;
	left: 34px;
	z-index: 1;
	opacity: 0;
}
.myDetail_page #base .name{
	font-size: 34px;
	color: #000;
} 
.myDetail_page #base .dsc{
	font-size: 26px;
	color: #000;
	margin-top: 16px;
}
.myDetail_page #base .vipFrame{
	padding: 18px 16px;
	border: 1px solid #cccccc;
	border-radius: 100px 0px 0px 100px;
	position: absolute;
	right: 0px;
	top:23px;
}
.myDetail_page #base .vipFrame img{
	float: left;
}
.myDetail_page #base .vipFrame .vipNum{
	float: left;
	margin-left: 10px;
	color: #feae13;
	font-size: 30px;
}
.myDetail_page #host .name{
	font-size: 24px;
	color: #000;
	float: left;
}
.myDetail_page #host .lian{
	float: left;
	margin-left: 10px;
}
.myDetail_page #host .vip{
	float: left;
	margin-left: 10px;
}
.myDetail_page .step{
	width: 30px;
	height: 30px;
	background-image: url("../img/star.png");
	float: left;
	margin-right: 4px;
}
.myDetail_page .step.sun{
	background-position: 0px 0px;
}
.myDetail_page .step.moon{
	background-position: 0px -46px;
}
.myDetail_page .step.star{
	background-position: 0px -93px;
}
.myDetail_page #host .speed{
	float: left;
	font-size: 24px;
	color: #555555;
}
.myDetail_page #host .tag{
	position: absolute;
	top:14px;
	right: 35px;
}
.myDetail_page #sign .dsc{
	color: #000;
	font-size: 30px;
}
.myDetail_page #sign .tag{
	position: absolute;
	top:5px;
	right: 35px;
}
.myDetail_page #server .point{
	float: left;
	margin-right: 16px;
}
.myDetail_page #server .tag{
	position: absolute;
	top:10px;
	right: 35px;
}
.myDetail_page #zone .dsc{
	color: #000;
	font-size: 30px;
}
.myDetail_page #zone .point{
	width: 110px;
	height: 110px;
	float: left;
	margin-right: 10px;
	margin-top: 30px;
}
.myDetail_page #zone .tag{
	position: absolute;
	top:0px;
	right: 35px;
}
.myDetail_page #mine .point{
	width: 20%;
	float: left;
}
.myDetail_page #mine .icon{
	margin: auto;
	width: 100px;
	height: 100px;
}
.myDetail_page #mine .name{
	margin-top: 15px;
	font-size: 22px;
	color: #000;
	text-align: center;
}
.myDetail_page #mine .dsc{
	margin-top: 15px;
	font-size: 20px;
	color: #777;
	text-align: center;
}