@charset "utf-8";
/* CSS Document */
.newFriend_page{
	position: absolute;
	top:0px;
	left: 0px;
	bottom:0px;
	right:0px;
	background-color: #fff;
}
.newFriend_page #newFriendMain{
	position: absolute;
	top:0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}
.newFriend_page #newFriendRoll{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
}