<script type="text/x-template" id="add_page">
<div class="add_page">
	<div class="nav_module">
		<div class="nav_point">找人</div>
		<div class="nav_point">找群</div>
		<div class="nav_point">找公众号</div>
		<div class="clear"></div>
		<div class="heightLine"></div>
	</div>
	<div class="fullScreanInput_module search">
		<div class="searchIcon"></div><input placeholder="QQ号/手机号/邮箱/群/公众号"/>
	</div>
	<div id="addMain">
		<div id="addRoll">
			<div class="subPage" id="findMan">
				<div class="subPageRoll">
					<div class="tag_module tagM_module">
						<div class="tagPoint">
							<img src="img/faceToface.png" class="left"/>
							<div class="right">
								<div class="title">面对面添加</div>
								<div class="dsc">添加身边的人和群</div>
								<img src="img/tag.png" class="icon"/>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tagPoint">
							<img src="img/find.png" class="left"/>
							<div class="right">
								<div class="title">按条件查找陌生人</div>
								<div class="dsc">条件：女、18至22岁</div>
								<img src="img/tag.png" class="icon"/>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tagPoint">
							<img src="img/linkMan.png" class="left"/>
							<div class="right">
								<div class="title">添加手机联系人</div>
								<img src="img/tag.png" class="icon"/>
							</div>
							<div class="clear"></div>
						</div>
						<div class="tagPoint">
							<img src="img/place.png" class="left"/>
							<div class="right">
								<div class="title">查看附近的人</div>
								<img src="img/tag.png" class="icon"/>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="text_module listTitle textGay_module">可能认识的人</div>
					<div class="list_module listS_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="addButton">添加</div>
							</div>
							<div class="clear"></div>
					</div>
					<div class="list_module listS_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="addButton">添加</div>
							</div>
							<div class="clear"></div>
					</div>
					<div class="list_module listS_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="addButton">添加</div>
							</div>
							<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="subPage" id="findGroup">
				<div class="subPageRoll">
					<img src="img/head.jpg" class="findGroupBanner"/>
					<div class="findGroupFrame">
						<div class="findGroupTitle">
							<div class="findGroupTitleIcon"></div>
							<div class="findGroupTitleName">热门分类</div>
						</div>
						<div class="findGroupTop">
							<div class="topPoint">
								<div class="topPointIcon"></div>
								<div class="topPointName">生活</div>
							</div>
							<div class="topPoint">
								<div class="topPointIcon"></div>
								<div class="topPointName">运动</div>
							</div>
							<div class="topPoint">
								<div class="topPointIcon"></div>
								<div class="topPointName">交友</div>
							</div>
							<div class="topPoint">
								<div class="topPointIcon"></div>
								<div class="topPointName">玩乐</div>
							</div>
							<div class="topPoint">
								<div class="topPointIcon"></div>
								<div class="topPointName">游戏</div>
							</div>
							<div class="topPoint">
								<div class="topPointIcon"></div>
								<div class="topPointName">车友</div>
							</div>
							<div class="topPoint">
								<div class="topPointIcon"></div>
								<div class="topPointName">粉丝</div>
							</div>
							<div class="topPoint">
								<div class="topPointIcon"></div>
								<div class="topPointName">行业</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="findGroupFrame">
						<div class="findGroupTitle">
							<div class="findGroupTitleIcon"></div>
							<div class="findGroupTitleName">附近的群</div>
						</div>
						<div class="findGroupList">
							<div class="list_module listXL_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="button">关注</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXL_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="button">关注</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXL_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="button">关注</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="findGroupMore">更多</div>
						</div>
					</div>
					<div class="findGroupFrame">
						<div class="findGroupTitle">
							<div class="findGroupTitleIcon"></div>
							<div class="findGroupTitleName">附近的群</div>
						</div>
						<div class="findGroupList">
							<div class="list_module listXL_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="button">关注</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXL_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="button">关注</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="list_module listXL_module">
								<img class="left" src="img/head.jpg"/>
								<div class="right">
									<div class="title">群的名字</div>
									<div class="dsc">好吧，是的，就这样</div>
									<div class="button">关注</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="findGroupFrame">
						<div class="findGroupTitle">
							<div class="findGroupTitleIcon"></div>
							<div class="findGroupTitleName">同城活动</div>
						</div>
						<div class="findGroupList">
							<div class="findGroupBoth">
								<img class="findGroupBothLeft" src="img/head.jpg"/>
								<div class="findGroupBothRight">
									<div class="findGroupBothTitle">标题</div>
									<div class="findGroupBothDsc">报名4</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="findGroupBoth">
								<img class="findGroupBothLeft" src="img/head.jpg"/>
								<div class="findGroupBothRight">
									<div class="findGroupBothTitle">标题</div>
									<div class="findGroupBothDsc">报名4</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="findGroupMore">更多</div>
					</div>
					<div class="findGroupFrame">
						<div class="findGroupTitle">
							<div class="findGroupTitleIcon"></div>
							<div class="findGroupTitleName">兴趣部落</div>
						</div>
						<div class="findGroupList">
							<div class="findGroupBoth S">
								<img class="findGroupBothLeft" src="img/head.jpg"/>
								<div class="findGroupBothRight">
									<div class="findGroupBothTitle">标题</div>
									<div class="findGroupBothDsc">报名4</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="findGroupBoth S">
								<img class="findGroupBothLeft" src="img/head.jpg"/>
								<div class="findGroupBothRight">
									<div class="findGroupBothTitle">标题</div>
									<div class="findGroupBothDsc">报名4</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="findGroupBoth S">
								<img class="findGroupBothLeft" src="img/head.jpg"/>
								<div class="findGroupBothRight">
									<div class="findGroupBothTitle">标题</div>
									<div class="findGroupBothDsc">报名4</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="findGroupBoth S">
								<img class="findGroupBothLeft" src="img/head.jpg"/>
								<div class="findGroupBothRight">
									<div class="findGroupBothTitle">标题</div>
									<div class="findGroupBothDsc">报名4</div>
								</div>
								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>
						<div class="findGroupMore">更多</div>
					</div>
				</div>
			</div>
			<div class="subPage" id="findPublic">
				<div class="subPageRoll">
					<div class="findPublicTop">
						<div class="findPublicPoint">
							<img src="img/findPublic.png" class="findPublicIcon"/>
							<div class="findPublicName">公众号中心</div>
							<div class="clear"></div>
						</div>
						<div class="findPublicPoint">
							<img src="img/findAll.png" class="findPublicIcon"/>
							<div class="findPublicName">全部分类</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="text_module listTitle textGay_module">精品推荐</div>
					<div class="list_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">2G</div>
							</div>
							<div class="clear"></div>
					</div>
					<div class="list_module listM_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
								<div class="state">2G</div>
							</div>
							<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
</script>

