<script type="text/x-template" id="addAlbum_page">
<div class="addAlbum_page">
	<div id="addAlbumMain">
		<div id="addAlbumRoll">
			<div class="inputList_module">
				<div class="point">
					<div class="left">名称</div>
					<div class="right">
						<input name="name"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="point">
					<div class="left">描述</div>
					<div class="right">
						<input name="dsc"/>
					</div>
					<div class="clear"></div>
				</div>
				
			</div>
			<div class="inputList_module">
				<div class="point">
					<div class="left">主题</div>
					<div class="right">
						<select name="type">
							<option value="0" selected="selected">普通</option>
							<option value="1">亲子</option>
							<option value="2">旅游</option>
						</select>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="inputList_module">
				<div class="point">
					<div class="left">谁能看见</div>
					<div class="right">
						所有人能看见
					</div>
					<img class="tag" src="img/tag.png"/>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</script>

