<script type="text/x-template" id="addGroupDetail_page">
<div class="addGroupDetail_page">
	<div class="head_module buttonTitleButton_head">
				<div class="left">
					<div class="backIcon"></div>
					<div class="leftText">返回</div>
					<div class="clear"></div>
				</div>
				<div class="center">
					<div class="title">群资料</div>
				</div>
				<div class="right">
				<div class="rightButton">更多</div>
				</div>
	</div>
	<div id="addGroupDetailMain">
		<div id="addGroupDetailRoll">
			
		</div>
	</div> 
</div>
</script>