<script type="text/x-template" id="addGroupDetail_page">
<div class="addGroupDetail_page">
	<div class="head_module buttonTitleButton_head">
				<div class="left">
					<div class="backIcon"></div>
					<div class="leftText">返回</div>
					<div class="clear"></div>
				</div>
				<div class="center">
					<div class="title">群资料</div>
				</div>
				<div class="right">
				<div class="rightButton">更多</div>
				</div>
	</div>
	<div id="addGroupDetailMain">
		<div id="addGroupDetailRoll">
			<div class="headFrame" style="background-image:url(img/head.jpg)">
				<div class="title">群名</div>
				<div class="iconFrame">
					<img src="img/head.jpg" class="icon"/>
					<img src="img/head.jpg" class="icon"/>
					<img src="img/head.jpg" class="icon"/>
					<div class="clear"></div>
				</div>
				<div class="bottomFrame">
					<div class="list">32793239032(什么群)</div>
					<div class="list">群地址<img src="img/tag.png" class="tag"/></div>
					<div class="type">
						<div class="typePoint">游戏</div>
						<div class="clear"></div>
						<img src="img/tag.png" class="tag"/>
					</div>
				</div>
			</div>
			<div class="frame">
				<div class="frameHead">
					<div class="frameTitle">群介绍</div>
					<div class="clear"></div>
				</div>
				<div class="frameMain">
					<div class="frameText">本群创建于某年某月某日</div>
					<div class="frameText">群描述很多很多字很多很多字很多很多字很多很多字~~~</div>
				</div>
			</div>
			<div class="frame">
				<div class="frameHead">
					<div class="frameTitle">群主/管理员</div>
					<div class="frameMore">全部<img src="img/tag.png" class="tag"/></div>
					<div class="clear"></div>
				</div>
				<div class="frameMain">
					<div class="adminIcon">
						<img src="img/head.jpg"/>
					</div>
					<div class="adminIcon">
						<img src="img/head.jpg"/>
					</div>
					<div class="adminIcon">
						<img src="img/head.jpg"/>
					</div>
					<div class="adminIcon">
						<img src="img/head.jpg"/>
					</div>
					<div class="adminIcon">
						<img src="img/head.jpg"/>
					</div>
					<div class="adminIcon">
						<img src="img/head.jpg"/>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="frame">
				<div class="frameHead">
					<div class="frameTitle">群成员</div>
					<div class="frameMore">11人<img src="img/tag.png" class="tag"/></div>
					<div class="clear"></div>
				</div>
				<div class="frameMain">
					<div class="typePoint">
						<img src="img/head.jpg" class="typeIcon"/>
						<div class="typeName">女-324人</div>
					</div>
					<div class="typePoint">
						<img src="img/head.jpg" class="typeIcon"/>
						<div class="typeName">深圳-324人</div>
					</div>
					<div class="typePoint">
						<img src="img/head.jpg" class="typeIcon"/>
						<div class="typeName">00后-324人</div>
					</div>
					<div class="typePoint">
						<img src="img/head.jpg" class="typeIcon"/>
						<div class="typeName">单身-324人</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div> 
</div>
</script>