<script type="text/x-template" id="addSearch_page">
<div class="addSearch_page">
	<img id="search" src="img/searchMButton.png"/>
	<div class="text_module" id="edit">编辑</div>
	<div class="clear"></div>
	<div id="addSearchMain">
		<div id="addSearchRoll">
			<div class="group">
				<div class="text_module textGay_module listTitle">群</div>
				<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
				</div>
				<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
				</div>
				<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
				</div>
				<div class="moreButton">查看更多</div>
			</div>
			<div class="group">
				<div class="text_module textGay_module listTitle">人</div>
				<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
				</div>
				<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
				</div>
				<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
				</div>
				<div class="moreButton">查看更多</div>
			</div>
			<div class="group">
				<div class="text_module textGay_module listTitle">公众号</div>
				<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
				</div>
				<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
				</div>
				<div class="list_module listL_module">
							<img class="left" src="img/head.jpg"/>
							<div class="right">
								<div class="title">群的名字</div>
								<div class="dsc">好吧，是的，就这样</div>
							</div>
							<div class="clear"></div>
				</div>
				<div class="moreButton">查看更多</div>
			</div>
		</div>
	</div>
</div>
</script>

