<script type="text/x-template" id="addSay_page">
<div class="addSay_page">
	<div id="addSayMain">
		<div id="addSayRoll">
			<div class="topFrame">
				<textarea placeHolder="说点什么吧..."></textarea>
				<div class="picFrame">
					<div class="addPic">
						<input id="addPic" type="file"/>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="centerFrame">
				<div class="point">
					<div class="left">上传高清图片</div>
					<div class="right">
						<div class="toggle_module">
							<div class="toggle_handle"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="point">
					<div class="left">谁能看见</div>
					<div class="right">
						<div class="text">所有人可以看见</div>
						<img src="img/tag.png" class="tag"/>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="bottomFrame">
				<div class="point qq"></div>
				<div class="point qw"></div>
				<div class="point wx"></div>
				<div class="point time"></div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
</script>

