<script type="text/x-template" id="albumDetail_page">
<div class="albumDetail_page">
	<div class="head_module">
		<div class="left">
			<div class="backIcon"></div>
			<div class="leftText">返回</div>
			<div class="clear"></div>
		</div>
		<div class="center">
			<div class="title">相册名</div>
		</div>
		<div class="right">
			<div class="rightButton">...</div>
		</div>
	</div>
	<div id="albumDetailMain">
		<div id="albumDetailRoll">
			<div class="albumTop" style="background-image:url(img/head.jpg)">
				<div class="name">相册名</div>
				<div class="topBottom">
					<div class="point">
						<img class="icon" src="img/prise.png"/>
						<div class="number">17</div>
						<div class="clear"></div>
					</div>
					<div class="point">
						<img class="icon" src="img/readed.png"/>
						<div class="number">17</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="button_module buttonL_module buttonBlue_module" id="Send">上传照片</div>
			<div class="picList_module">
				<div class="group">
					<div class="title">某年某月某日</div>
					<div class="list">
						<div class="point">
							<img src="img/head.jpg"/>
						</div>
						<div class="point">
							<img src="img/head.jpg"/>
						</div>
						<div class="point">
							<img src="img/head.jpg"/>
						</div>
						<div class="point">
							<img src="img/head.jpg"/>
						</div>
						<div class="point">
							<img src="img/head.jpg"/>
						</div>
						<div class="point">
							<img src="img/head.jpg"/>
						</div>
						<div class="point">
							<img src="img/head.jpg"/>
						</div>
						<div class="point">
							<img src="img/head.jpg"/>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="group">
					<div class="title">某年某月某日</div>
					<div class="list">
						<div class="point">
							<img src="img/head.jpg"/>
						</div>
						<div class="point">
							<img src="img/head.jpg"/>
						</div>
						<div class="point">
							<img src="img/head.jpg"/>
						</div>
						<div class="point">
							<img src="img/head.jpg"/>
						</div>
						<div class="point">
							<img src="img/head.jpg"/>
						</div>
						<div class="point">
							<img src="img/head.jpg"/>
						</div>
						<div class="point">
							<img src="img/head.jpg"/>
						</div>
						<div class="point">
							<img src="img/head.jpg"/>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
</script>

