<script type="text/x-template" id="creatGroup_page">
<div class="creatGroup_page">
	<div id="creatGroupMain">
		<div id="creatGroupRoll">
			<div class="topFrame">
				<img class="icon" src="<%= data.icon %>"/>
				<div class="name"><%= data.name %></div>
			</div>
			<div class="tag_module">
				<div class="tagPoint">
					<img src="img/add2.png" class="left"/>
					<div class="right">
						<div class="title">邀请好友</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="tag_module">
				<div class="tagPoint">
					<img src="img/share.png" class="left"/>
					<div class="right">
						<div class="title">分享本群</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="tag_module">
				<div class="tagPoint">
					<img src="img/faceToface2.png" class="left"/>
					<div class="right">
						<div class="title">面对面分享群</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</script>

