<script type="text/x-template" id="diyShow_page">
<div class="diyShow_page">
	<div class="head_module buttonTitleIcon_head">
		<div class="left"> 
			<div class="backIcon"></div>
			<div class="leftText">返回</div>
			<div class="clear"></div>
		</div>
		<div class="center">
		<div class="title">个性装扮</div>
		</div>
		<div class="right">
			<div class="rightIcon self"></div>
			<div class="rightIcon find"></div>
			<div class="clear"></div>
		</div>
	</div>
	<div id="diyShowMain">
		<div id="diyShowRoll">
			<img id="banner" src="<%= data.banner %>"/>
			<div id="topFrame">
				<% if(data.top&&data.top.length){
					_.each(data.top,function(top){ %>
						<div class="point">
							<img src="<%= top.icon %>" class="pic"/>
							<div class="name"><%= top.name %></div>
							<div class="dsc"><%= top.dsc %></div>
						</div>
				<% })
				} %>
				<div class="clear"></div>
			</div>
			<div class="frame" id="face">
				<div class="title">热门表情</div>
				<div class="more">更多 &gt;</div>
				<div class="clear"></div>
				<% if(data.face&&data.face.length){
					_.each(data.face,function(face){ %>
					<div class="point">
						<img src="<%= face.icon %>" class="pic"/>
						<div class="name"><%= face.name %></div>
					</div>	
				<% })
				} %>
				<div class="clear"></div>
			</div>
			<div class="frame" id="pao">
				<div class="title">热门气泡</div>
				<div class="more">更多 &gt;</div>
				<div class="clear"></div>
				<% if(data.pao&&data.pao.length){
					_.each(data.pao,function(pao){ %>
					<div class="point">
						<img src="<%= pao.icon %>" class="pic"/>
					</div>
				<% })
				} %>
				<div class="clear"></div>
			</div>
			<div class="frame" id="redpackage">
				<div class="title">热门红包</div>
				<div class="more">更多 &gt;</div>
				<div class="clear"></div>
				<% if(data.redpackage&&data.redpackage.length){
					_.each(data.redpackage,function(redpackage){ %>
					<div class="point">
						<img src="<%= redpackage.icon %>" class="pic"/>
						<div class="name"><%= redpackage.name %></div>
					</div>	
				<% })
				} %>
				<div class="clear"></div>
			</div>
			<div class="frame" id="font">
				<div class="title">热门字体</div>
				<div class="more">更多 &gt;</div>
				<div class="clear"></div>
				<% if(data.font&&data.font.length){
					_.each(data.font,function(font){ %>
						<div class="point">
							<img src="<%= font.icon %>" class="pic"/>
						</div>
				<% })
				} %>
				<div class="clear"></div>
			</div>
			<div class="frame" id="style">
				<div class="title">热门主题</div>
				<div class="more">更多 &gt;</div>
				<div class="clear"></div>
				<% if(data.style&&data.style.length){
					_.each(data.style,function(style){ %>
					<div class="point">
						<img src="<%= style.icon %>" class="pic"/>
						<div class="name"><%= style.name %></div>
					</div>	
				<% })
				} %>
				<div class="clear"></div>
			</div>
		</div>
	</div>				
</div>
</script>