<script type="text/x-template" id="index_page">
<div class="index_page">
	<img class="headIcon_module headIconL_module" src="img/head.jpg" id="loginIcon"/>
	<div class="fullScreanInput_module fullScreanInputDropDown_module" id="loginName">
		<input placeholder="手机号/手机/邮箱"/>
	</div>
	<div class="fullScreanInput_module" id="loginKey">
		<input placeholder="密码" type="password"/>
	</div>
	<div class="button_module buttonL_module buttonBlue_module" id="login">登录</div>
	<div class="text_module" id="forgetKey">忘记密码</div>
	<div class="text_module" id="regest">新用户</div>
</div>
</script>