<script type="text/x-template" id="money_page">
<div class="money_page">
	<div id="moneyMain">
		<div id="moneyRoll">
			<img id="banner" src="img/head.jpg"/>
			<div id="topFrame">
				<div class="point">
					<img src="img/cong.png" class="pic"/>
					<div class="name">话费·流量</div>
				</div>
				<div class="point">
					<img src="img/zhuang.png" class="pic"/>
					<div class="name">转账</div>
				</div>
				<div class="point">
					<img src="img/zhuan.png" class="pic"/>
					<div class="name">会员·钻</div>
				</div>
				<div class="point">
					<img src="img/quan.png" class="pic"/>
					<div class="name">Q币·游戏币</div>
				</div>
				<div class="clear"></div>
			</div>
			<div id="centerFrame">
				<div class="point">
					<img class="pic" src="img/moiveMoney.png"/>
					<div class="right">
						<div class="name">电影·演出</div>
						<div class="dsc">19.9元抢票</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="point">
					<img class="pic" src="img/shoppingMoney.png"/>
					<div class="name">购物·生活</div>
					<div class="dsc">生活特惠</div>
					<div class="clear"></div>
				</div>
				<div class="point">
					<img class="pic" src="img/pig.png"/>
					<div class="name">资金·理财</div>
					<div class="dsc">零钱理财</div>
					<div class="clear"></div>
				</div>
				<div class="point">
					<img class="pic" src="img/traffice.png"/>
					<div class="name">交通出行</div>
					<div class="dsc">省心便捷</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div id="bottomFrame">
				<div class="point">
					<img src="img/jd.png" class="pic"/>
					<div class="name">京东购物</div>
					<div class="dsc">潮品9.9元起</div>
				</div>
				<div class="point">
					<img src="img/redpack.png" class="pic"/>
					<div class="name">QQ红包</div>
				</div>
				<div class="point">
					<img src="img/house.png" class="pic"/>
					<div class="name">城市服务</div>
				</div>
				<div class="point">
					<img src="img/heart.png" class="pic"/>
					<div class="name">腾讯公益</div>
				</div>
				<div class="point">
					<img src="img/startTag.png" class="pic"/>
					<div class="name">钱包精选</div>
				</div>
				<div class="point">
					<img src="img/cai.png" class="pic"/>
					<div class="name">彩票·竞猜</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	
</div>
</script>