<script type="text/x-template" id="newFriend_page">
<div class="newFriend_page">
	<div id="newFriendMain">
		<div id="newFriendRoll">
		<% if(data.list&&data.list.length){
			_.each(data.list,function(point){ %>
						<div class="list_module listL_module">
							<img class="left" src="<%= point.icon %>"/>
							<div class="right">
								<div class="title"><%= point.name %></div>
								<div class="request">请求加为好友</div>
								<div class="dsc"><%= point.dsc %></div>
								<div class="state"><%= point.state %></div>
							</div>
							<div class="clear"></div>
						</div>
		<%	})
		} %>
			
		}

		</div>
	</div>
</div>
</script>

