<script type="text/x-template" id="phone_page">
<div class="phone_page">
	<div id="sideHandle"></div>
	<div id="phoneMain">
		<div id="phoneRoll">
			<img src="img/searchButton.png" class="searchButton" id="search"/>
			<div class="tag_module tagL_module" id="tag">
				<div class="tagPoint" id="phone">
					<img src="img/phoneList.png" class="left"/>
					<div class="right">
						<div class="title">电话黄页</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="tagPoint" id="directory">
					<img src="img/directory.png" class="left"/>
					<div class="right">
						<div class="title">通讯录</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="text_module textGay_module textM_module" id="title">通话记录</div>
			<div class="phoneFrame">
				<img src="<%= data.icon[0] %>" class="phone phone1"/>
				<img src="<%= data.icon[1] %>" class="phone phone2"/>
				<img src="<%= data.icon[2] %>" class="phone phone3"/>
				<img src="<%= data.icon[3] %>" class="phone phone4"/>
			</div>
			<div class="text_module" id="them">他们都在用QQ电话哦</div>
			<div class="button_module buttonM_module buttonBlueBorder_module" id="Send">找人聊聊</div>
		</div>
	</div>
	

</div>
</script>

