<script type="text/x-template" id="phoneCode_page">
<div class="phoneCode_page">
	<div class="text_module textGay_module" id="dsc">我们已给你的手机号码<span class="text_module textYellow_module">+86-18520408028</span>发送了一条验证短信</div>
	<div class="clear"></div><div class="labelInput_module labelInputSaveCode_module" id="input">
			<div class="saveCode">重新发送(48)</div>
			<div class="inpurFrame">
			<input placeholder="请输入验证码"/>
			</div>
	</div>
	<div class="button_module buttonL_module buttonBlue_module" id="Send">下一步</div>
	<div class="radioPoint">
		<div class="select_module selectRadio_module hl"></div>
		<div class="text_module textGay_module">将此手机号和QQ绑定，提高安全性</div>
		<div class="clear"></div>
	</div>
	<div class="radioPoint">
		<div class="select_module selectRadio_module hl"></div>
		<div class="text_module textGay_module">开启<span class="text_module">设备锁</span>，保障QQ账号安全</div>
		<div class="clear"></div>
	</div>
</div>
</script>

