<script type="text/x-template" id="phoneListSub_page">
<div class="phoneListSub_page">
	<img src="img/searchButton.png" id="search"/>
	<div class="nav_module" id="nav">
		<% if(data.page&&data.page.length){
			_.each(data.page,function(page){ %>
				<div class="nav_point"><%= page.name %></div>
		<%	})
		} %>
		<div class="clear"></div>
		<div class="heightLine"></div>
	</div>
	<div id="phoneListSubMain">
		<div id="phoneListSubRoll" style="width:<%= data.page.length %>00%;">
			<% if(data.page&&data.page.length){
			_.each(data.page,function(page){ %>
				<div id="<%= page.id %>" class="subPage" style="width:<%= 1/data.page.length %>%">
					<div id="phoneListRoll">
						<% if(page.group&&page.group.length){
							_.each(page.group,function(group){ %>
							<div class="text_module textGay_module textM_module listTitle"><%= group.title %></div>
								<% if(group.list&&group.list.length){
									_.each(group.list,function(point){ %>
										<div class="list_module listS_module">
											<img class="left" src="<%= point.icon %>"/>
											<div class="right">
												<div class="title"><%= point.name %></div>
												<div class="dsc"><%= point.dsc %></div>
												<img src="<%= point.state %>" class="phone"/>
											</div>
											<div class="clear"></div>
										</div>
								<%	})
								} %>	
						<%	})
						} %>
					</div>
				</div>
			<%	})
			} %>
			<div class="clear"></div>
		</div>
	</div>
		
	
</div>
</script>

