<script type="text/x-template" id="regest_page">
<div class="regest_page">
	<div class="labelInput_module labelInputPhone_module" id="phone">
		<div class="phone">中国 +86</div>
		<div class="inpurFrame">
			<input placeholder="QQ号/邮箱地址/手机号"/>
		</div>
	</div>
	<div class="labelInput_module" id="key">
			<div class="label">密码</div>
			<div class="inpurFrame">
			<input placeholder="密码" type="password"/>
		</div>
	</div>
	<div class="button_module buttonL_module buttonBlue_module" id="Send">确定</div>
</div>
</script>

