<script type="text/x-template" id="saveCode_page">
<div class="saveCode_page">
	<div class="text_module textBlack_module" id="dsc">请先输入验证码再继续操作：</div>
	<div class="clear"></div>
	<img src="img/savecode.jpg" id="savecode"/>
	<div class="text_module" id="change">换一张</div>
	<div class="clear"></div>
	<div class="labelInput_module labelInputSingle_module" id="input">
			<div class="inpurFrame">
			<input placeholder="QQ号/邮箱地址/手机号"/>
			</div>
		</div>
	<div class="button_module buttonL_module buttonDeepBlue_module" id="Send">确定</div>
	<div class="clear"></div>
	<div class="text_module textS_module" id="why">为什么要进行安全验证？</div>
	<div class="text_module textS_module" id="return">我要反馈</div>
	<div class="clear"></div>
</div>
</script>