<script type="text/x-template" id="set_page">
<div class="set_page">
	<div id="setMain">
		<div id="setRoll">
			<div class="tag_module tagNoLeft_module">
				<div class="tagPoint">
					<div class="right">
						<div class="title">帐号管理</div>
						<img id="setHead" src="img/head.jpg" class="other"/>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="tagPoint">
					<div class="right">
						<div class="title">手机号码</div>
						<img src="img/tag.png" class="icon"/>
						<div id="tel" class="other">18520408028</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="tagPoint">
					<div class="right">
						<div class="title">QQ达人</div>
						<div id="vip" class="other">35天<img src="img/vipType.png"/></div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
		</div>
		<div class="tag_module tagNoLeft_module">
				<div class="tagPoint">
					<div class="right">
						<div class="title">消息通知</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="tagPoint">
					<div class="right">
						<div class="title">聊天记录</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
		</div>
		<div class="tag_module tagNoLeft_module">
				<div class="tagPoint">
					<div class="right">
						<div class="title">联系人、隐私</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="tagPoint">
					<div class="right">
						<div class="title">设备锁、帐号安全</div>
						<div id="lock" class="other">未开启<img src="img/lock.png"/></div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
				<div class="tagPoint">
					<div class="right">
						<div class="title">辅助功能</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
		</div>
		<div class="tag_module tagNoLeft_module">
				<div class="tagPoint">
					<div class="right">
						<div class="title">关于QQ与帮助</div>
						<img src="img/tag.png" class="icon"/>
					</div>
					<div class="clear"></div>
				</div>
		</div>
		</div>
	</div>
		
</div>
</script>

