<script type="text/x-template" id="talk_foot">
<div class="talk_foot">
	<input/>
	<div class="bottomFrame">
		<div class="bottomPoint">
			<img  src="img/voice.png"/>
		</div>
		<div class="bottomPoint">
			<img  src="img/moive.png"/>
		</div>
		<div class="bottomPoint">
			<img  src="img/pic.png"/>
		</div>
		<div class="bottomPoint">
			<img  src="img/camera.png"/>
		</div>
		<div class="bottomPoint">
			<img  src="img/redpacket.png"/>
		</div>
		<div class="bottomPoint">
			<img  src="img/face.png"/>
		</div>
		<div class="bottomPoint">
			<img  src="img/add.png"/>
		</div>
		<div class="clear"></div>
	</div>
</div>
</script>

